{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="fw-bold">Smart Waste Monitoring Dashboard</h2>

    <span class="badge bg-success fs-6">
        ● SYSTEM LIVE
    </span>

</div>

<div class="row mb-4">

    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h5>🗑️ Total Bins</h5>
                <h2 class="text-primary">{{ total_bins }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h5>⚠️ Critical Bins</h5>
                <h2 class="text-danger">{{ critical_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h5>📊 Avg Fill Level</h5>
                <h2 class="text-success">{{ average_fill }}%</h2>
            </div>
        </div>
    </div>

</div>

{% if alerts %}

<div class="alert alert-danger shadow-sm">

    <h5 class="mb-3">🚨 Critical Alerts</h5>

    {% for alert in alerts %}
        <div>⚠ {{ alert }}</div>
    {% endfor %}

</div>

{% endif %}




<!-- Monitoring Table -->
<div class="card shadow">

    <div class="card-header bg-dark text-white">
        Bin Monitoring Data
    </div>

    <div class="card-body">

        <table class="table table-striped table-bordered table-hover align-middle">

            <thead class="table-dark">

                <tr>
                    <th>Bin ID</th>
                    <th>Fill Level (%)</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                </tr>

            </thead>

            <tbody>

                {% for row in data %}

                <tr>

                    <td>{{ row[0] }}</td>

                    <td>{{ row[1] }}</td>

                    <td>

                        {% if row[1] >= 80 %}
                            <span class="badge bg-danger">HIGH</span>

                        {% elif row[1] >= 50 %}
                            <span class="badge bg-warning text-dark">MEDIUM</span>

                        {% else %}
                            <span class="badge bg-success">LOW</span>

                        {% endif %}

                    </td>

                    <td>{{ row[2] }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}