<!DOCTYPE html>
<html>
<head>
    <title>Smart Waste Dashboard</title>
</head>
<body>

    <h1>Smart Waste Monitoring System</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Bin ID</th>
            <th>Fill Level (%)</th>
            <th>Timestamp</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>